body {
    font-family: 'Nunito', Helvetica;
    height: 1000px;
}
header {
    background-image: url('https://res.cloudinary.com/yuwa/image/upload/v1586470291/sj_1_agi4ad.png');
    background-size: cover;
    grid-area: header;
}

.nav-link {
  background-color: grey;
  margin-left: 10px;
  margin-top: 10px;
  color: white;
}

.nav-link:hover {
  color: black;
}

#main {
    margin: 0px;
    padding: 0px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 600px 1fr 1fr;
    grid-template-areas:
                "header header header"
                ". tribute-info ."
                "footer footer footer";
}

#tribute-info {
  margin-top: 40px;
}

/* @media (max-width: 300px){
    #main{
      grid-template-columns: auto 1fr;
      grid-template-rows: auto 1fr auto;
      grid-template-areas:
        "header header"
        "tribute-info tribute-info"
        "footer footer";
    }
    header{
        height: 600px;
        background-size: 100%;
    }
  } */

  /* responsiveness */
  @media (max-width: 1000px){
    #main{
    display: flex;
    flex-direction: column;
    }
    body {
        font-family: 'Nunito', Helvetica;
        height: 100%;
    }
    header{
        height: 100vh;
        background-size: 100vh;
        text-align: center;
    }
    #img-div {
      width: 50%;
      margin: auto;
    }
    h3 {
      font-size: 50px;
      font-weight: bold;
    }
    #tribute-info {
      font-size: 40px;
    }

  }
/*  responsiveness style end*/

ul {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    list-style-type: none;
    margin: 5px;
    padding: 10px;
}

li a {
    width: 50px;
    color: black;
    background-color: cornsilk;
    padding: 10px;
    text-decoration: solid;
}

li a:hover {
    background-color:aliceblue;
}

#title {
    position: relative;
    top: 20%;
    font-size: 70px;
    color: white;
    text-decoration: solid;
    display: grid;
    grid-template-columns: 50% 2fr 1fr;
    grid-template-rows: 50% 1fr 5%;
    justify-items: center;
    align-items: baseline;
}
h2 {
    position: relative;
    top: 25%;
    font-size: 40px;
    color: white;
    text-decoration: solid;
    display: grid;
    grid-template-columns: 50% 2fr;
    grid-template-rows: 50% 2fr;
    justify-items: center;
    align-items: baseline;
}

div {
    grid-area: tribute-info;
}

h3, p {
    text-align: center;
}

footer {
    grid-area: footer;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin-bottom: 3px;
    height: 40px;
}

.info {
    display: flex;
    justify-content: space-around;
}

#image {
    width: 100%;
    height: auto;
}

.name {
  color: rgb(142, 142, 252);
}